.button{
    padding: 16px;
    border-radius: 20px;
    text-align: center;
    color: white; 
    font-size: 10px;
    cursor: pointer;
}

.red {
    background-color: red;
  }

  
.white {
    background-color: white;
  }

.white-color{
    color: white;;
}

.black-color{
    color: black;;
}
.button.red-border {
    border: 2px solid transparent;
    border-color: red;
  }