html, body {
    margin: 0;
    padding: 0;

  }

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #6366f1;
    padding: 8px;
    flex:1
}

  .content-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  .title-f{
    display:flex; 
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Montserrat';
    font-size: medium;
    font-weight: bold;
    color: white;
  }

  .sub{
    display: flex;
    font-family: 'Montserrat';
    font-weight: lighter;
    font-size: small;
    align-items: center;
    margin: 6px;
    color: white;
  }

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    width: -webkit-fill-available;
}

.content-item{
    display: flex;
    align-items: baseline;
    cursor: pointer;
}

.l-icon{
  color: white;
}

.link-visit:visited{
    color: white;
}